@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans Thai", sans-serif;
}

* {
    box-sizing: border-box;
}

.page-heading-div {
    width: 100%;
    min-width: 364px;
    display: flex;
    justify-content: center;
}

h1:first-child {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
    user-select: none;
}

.heading-span {
    font-weight: 600;
}

/* ========== Navigation ========== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
    margin: 0 auto;
}

nav > * {
    user-select: none;
}

nav > div:first-child {
    display: flex;
    align-items: center;
}

nav > div:not(:first-child) {
    display: flex;
    align-items: center;
}

.home {
    border: 1px solid black;
    border-radius: 0.25rem;
    transition: 0.2s;
    margin: 0 1rem;
}

.home-anchor {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    padding: 0.25rem 0.5rem;
}

.home:hover {
    background-color: rgba(30, 30, 30, 1);
}

.home-anchor:hover {
    color: white;
}

.content {
    position: relative;
}

.content-label {
    display: inline-block;
    width: 7rem;
    padding: 0.25rem 0.5rem 0.25rem 1rem;
    border-top-right-radius: 0.25rem;
    transition: 0.2s;
}

.content-dropdown {
    display: flex;
    width: 7rem;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    padding: 0 1rem;
    position:absolute;
    top: 2rem;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    border-bottom-right-radius: 0.25rem;
}

.content-dropdown > a {
    color: black;
    text-decoration: none;
}

.content:hover > .content-dropdown {
    height: 7rem;
    background-color: black;
    color: white;
}

.content:hover > .content-dropdown > a {
    color: white;
}

.content:hover > .content-label {
    background-color: black;
    color: white;
    cursor: pointer;
}

.content-dropdown > div:hover {
    cursor: pointer;
}

.visit-me {
    display: flex;
    flex-direction: column;
    position: relative;
}

.visit-label {
    display: inline-block;
    width: 6rem;
    text-align: end;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    transition: 0.2s;
    border-top-left-radius: 0.25rem;
}

.visit-dropdown {
    display: flex;
    flex-direction: column;
    width: 6rem;
    justify-content: space-evenly;
    align-items: end;
    overflow: hidden;
    height: 0;
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 0 1rem 0 0.5rem;
    transition: 0.2s;
    border-bottom-left-radius: 0.25rem;
}

.visit-dropdown > a {
    color: black;
    text-decoration: none;
}

.visit-me:hover > .visit-label {
    color: white;
    background-color: black;
}

.visit-me:hover > .visit-dropdown {
    height: 5rem;
    background-color: black;
}

.visit-me:hover > .visit-dropdown > a {
    color: white;
}


/* ========== Main ========== */

main {
    padding: 0 1.5rem;
    width: 100%;
    margin: 0 auto;
}

main > hr:first-child {
    border: 1px solid black;
    border-radius: 1px;
}

main > hr {
    margin: 0;
}

main p {
    font-size: 1.25rem;
}

.indent-8 {
    text-indent: 2rem;
}

.text-justify {
    text-align: justify;
}

.code-example {
    font-size: 1.25rem;
    display: inline-block;
    width: 100%;
    min-width: 320px;
    overflow: auto;
    margin: 1rem 0 2rem 0;
    padding: 2rem;
    border-radius: 0.25rem;
    background-color: rgba(50, 50, 50, 1);
    color: white;
    position: relative;
}

.code-blue {
    color: lightblue;
}

.code-example > div {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 0.25rem;
    right: 1rem;
    top: 1rem;
    box-shadow: none;
    border: none;
    transition: 0.15s;
    background-color: white;
}

.code-example > div:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 1);
}

.code-example > div:active {
    background-color: rgba(150, 150, 150, 1);
}

.code-example > div > div {
    width: 100%;
    height: 100%;
    position: relative;
}

.code-example > div > div > label {
    color: white;
    position: absolute;
    display: inline-block;
    height: 0;
    overflow: hidden;
}

/* ========== Footer ========== */

footer {
    width: 100%;
    height: 20px;
}




@media (min-width: 576px) {
    main, nav {
        width: 540px;
    }

    h1:first-child {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    main, nav {
        width: 720px;
    }

    h1:first-child {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    main, nav {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    main, nav {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    main, nav {
        width: 1320px;
    }
}

